

<h1>Home Page</h1>
<h3>Welcome to Index View</h3>


<div>
    <a asp-controller="User" asp-action="Create">New Registration</a>
</div>

<div>
    <a asp-controller="User" asp-action="Login">Login</a>
</div>